.container {
    display: flex;
    /* justify-content: center; */
}

.cols {
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-child {
    position: absolute;
    width: max-content;
    max-width: 300px;
    left: 5px;
    top: -15px;
    background-color: #7fffd4c7;
    
}

fieldset {
    height: fit-content;
    /* margin-left: auto; */
}

fieldset button {
    border-radius: 1rem;
}